<?xml version="1.0" encoding="UTF-8"?>
<beans>
  <!-- activiti相关配置 -->
  <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <property name="dataSource" ref="dataSource" />
    <property name="databaseType" value="mysql" />
    <property name="transactionManager" ref="transactionManager" />
    <property name="databaseSchemaUpdate" value="true" />
    <property name="jobExecutorActivate" value="false" />
    <!-- 用于更改流程节点的执行行为 -->
	<!-- <property name="activityBehaviorFactory" ref="activityBehaviorFactoryExt" /> -->
  </bean>
  <!-- <bean id="processEngineConfiguration" -->
  <!-- class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration"> -->
  <!-- <property name="dataSource" ref="dataSource" /> -->
  <!-- <property name="databaseType" value="mysql" /> -->
  <!-- <property name="databaseSchemaUpdate" value="true" /> -->
  <!-- <property name="jobExecutorActivate" value="false" /> -->
  <!-- 用于更改流程节点的执行行为 -->
  <!-- <property name="activityBehaviorFactory" ref="activityBehaviorFactoryExt" /> -->
  <!-- </bean> -->
  <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
  </bean>
  <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
  <bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
  <bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
  <bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
  <bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />
  <bean id="activityBehaviorFactoryExt" class="com.room1000.core.activiti.ext.ActivityBehaviorFactoryExt">
    <property name="exclusiveGatewayActivityBehaviorExt" ref="exclusiveGatewayActivityBehaviorExt" />
  </bean>
  <bean id="exclusiveGatewayActivityBehaviorExt" class="com.room1000.core.activiti.ext.ExclusiveGatewayActivityBehaviorExt" />
</beans>